body{
  text-align: center;
  background-image: linear-gradient(blue,silver);
  color:white;

}


h1{
  margin-top:10%;
}

.weatherForm{

  position: relative;
  left:-10px;
  margin:5% 15% 30%;
}


.response{

  margin: 5% 15% 6% ;
}


.weatherImage{
  margin-top:75px;
  height:200px;
  width:200px;
}

.newButton{
  background-color: chocolate;
  color: white;
  border-style: groove;
  margin-top:40px;
}

.buttonRef{
  color: white;
}

.buttonRef:hover{
  color:white;
  opacity: 0.8;
  text-decoration: none;
}
